/* Estilos generales */
body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
  }
  header img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .5;
    transition: .5s ease;
  }
  header img:hover{
    cursor: crosshair;
    width: 200px;
    opacity: 1;
    filter: contrast(120%);
  }
  h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#000000;
    padding-top: 10px;
    padding-left: 10px;
  }
  ul{
    font: 1em sans-serif;
    text-align:left;
  }
  li{
    list-style:armenian;
    color: #000000;
  }
  a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 10px;
    font-size: 20px;
    color: #1d45c7;
  }

  /* Estilos del encabezado */
  header {
    background-color: hsl(224, 62%, 70%);
    color: #000000;
    padding: 10px;
  }
  header h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  header img {
    display: block;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  } 
  header nav ul {
    display: flex;
    justify-content: space-between;
  }
  header nav li {
    margin-right: 10rem;
    display: block;
  }
  /* Estilos del contenido principal */
  main {
    column-count: 2;
    padding: 10px;
    padding-left: 10px;
  } 
  section {
    margin-bottom: 10rem;
  }  
  section h2 {
    font-size: 20px;
    
  } 
  section ul li {
    margin-bottom: 1px;
  }  
  section ul li a {
    color: #110ebb;
    font-weight: bold;
  }  
  section ul li img {
    margin-right: 10px;
  }
  section ul li h3 {
    font-size: 30px;
    margin-bottom: 5px;
  } 
  /* Estilos del pie de página */
  footer {
    background-color: hsl(224, 62%, 70%);
    color: #ececec;
    padding: 20px;
    text-align: center;
  }  
  footer p {
    margin: auto;
  } 
